*{
  box-sizing: border-box;
}

.game{
  display: flex;
  flex-wrap: wrap;
  height: 550px;
  width: 550px;
  border: grey 1px solid;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100%/10);
  width: calc(100%/10);
  border: dodgerblue 1px solid;
}

.pac-dot{
  background-image: url('../images/dot.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
}

.power-dot{
  background-image: url('../images/dot.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px;
}

.pacman{
  background-image: url('../images/pacman.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

.pacman[data-direction=2] {
  transform: scaleX(1);
}

.pacman[data-direction=4] {
  transform: scaleX(-1);
}

.pacman[data-direction=1] {
  transform: rotate(-90deg);
}

.pacman[data-direction=3] {
  transform: rotate(90deg);
}

.ghost{

}

.ghost[data-direction=2] {
  transform: scaleX(1);
}

.ghost[data-direction=4] {
  transform: scaleX(-1);
}

.red{
  background-image: url('../images/redghost.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
}

.yellow{
  background-image: url('../images/yellowghost.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
}

.pink{
  background-image: url('../images/pinkghost.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
}

.blue{
  background-image: url('../images/blueghost.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
}

.wall{
  background-color: brown;
}
